@keyframes translate {
    from {
      height: 0;
    }
    to {
      height: 70px;
    }
  }
  
.translate {
  animation: 0.3s ease-in-out 1 translate;
}

.item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 70px;
    margin: 0px;
    padding-left: 10vw;
    transition: height 0.3s ease-in-out 0.1s;
    list-style: none;
    overflow: hidden;
}

li {
    color: rgb(126, 123, 123);
    font-weight: normal;
}

span {
    margin-left: 4px;
    color: rgb(161, 159, 159);
    font-weight: lighter;
}

.hidden {
    height: 0px;
}

  